* {
	font-family: monospace;
  user-select: none;
}
body{
	background: lightgrey;
  width:1200px;
  margin:auto;
}
table{
  border: 2px solid black;
  border-radius: 5px;
	border-collapse: collapse;
	width: 24%;
	background-color:white;
	text-align:center;
  box-shadow:3px 3px #aaaaaa;
  margin-bottom:10px;
}
td,th {
  padding: 5px;
}
th {
  border: 1px solid #dddddd;
  text-decoration: underline;
  font-size: 1.2em;
}
td {
  position:relative;
}
div {
  display:inline-table;
}
.title {
  text-align:center;
  width: 100%;
  margin: auto;
}
.title h1 {
  text-shadow: 2px 2px white;
  text-decoration: underline;
}
#gain{
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
#head {
  margin: auto;
  width: 50%;
}
#head td {
  width: 25%;
}
#header{
  width: 100%;
  margin-bottom: 10px;
}
#navigation{
  position: relative;
  width:100%;
  margin: 10px 0 10px 0;
}
#navigation ul {
  width:100%;
  padding: 10px;
  margin:auto;
  text-align:center;
}
#navigation li {
  display:inline;
  margin: 0 30px 0 30px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
  background: white;
}
#navigation li:hover {
  background: gray;
  color:white;
  cursor:pointer;
  box-shadow: 3px 3px gray;
  transition: 0.2s;
}
#box{
  width: 10px;
  height: 10px;
}
.content, .content table {
  width: 100%;
}
.content td {
  width: 25%;
  border-right: 1px solid #dddddd;
}


#hobbies,#friends,#experiences,#options{display:none;}
.serotonin{background-color:#8cff9e;}
.dopamine{background-color:#89cff0;}
.oxytocin{background-color:pink;}
.endorphins{background-color:#f8e5b7;}

button:hover {
  cursor: pointer
}
#float {
  position:absolute;
  color:green;
  animation: float 1s infinite;
}
#floatred {
  position:absolute;
  color:red;
  animation: floatdown 1s infinite;
}
@keyframes float {
  0% {opacity:0;bottom:0px;}
  50% {opacity:1;bottom:10px;}
  100% {opacity:0;bottom:20px;}
}
@keyframes floatdown {
  0% {opacity:0;top:0px;}
  50% {opacity:1;top:10px;}
  100% {opacity:0;top:20px;}
}