*{
	user-select: none;
}
body{
	background-color: lightgrey;
	background-size: 130px 93px;
}
button{
	margin:5px;
}
#headContainer{
	margin:5px;
	margin-top:10px;
	padding:0px;
}
#head{
	padding:5px;
	margin-right:5px;
	display:inline;
	background-color:white;
	border: 2px solid black;
	border-radius: 5px;
	text-decoration: underline;
}
#sub,#sub1{
	padding:5px;
	margin-right:5px;
	display:inline;
	background-color:white;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
}
#sub:hover,#sub1:hover{
	text-decoration: underline;
}
#you{
	position:relative;
	margin:5px;
	padding: 5px;
	width:15%;
	height:33%;
	border: 2px solid black;
	border-radius: 5px;
	float:left;
	background: white;
}
#upgrades{
	margin:5px;
	padding: 5px;
	width:25%;
	height:33%;
	border: 2px solid black;
	border-radius: 5px;
	float:left;
	background: white;
}
#friend{
	margin:5px;
	padding: 5px;
	width:25%;
	height:33%;
	border: 2px solid black;
	border-radius: 5px;
	float:left;
	background: white;
	display:none;
}
#options{
	position:absolute;
	display: none;
	padding:10px;
	width:400px;
	height:200px;
	top:30%;
	bottom: 50%;
	left:40%;
	right:40%;
	border: 2px solid black;
	border-radius: 5px;
	background-color:white;
	margin:auto;
}
f:hover{
	text-decoration: underline;
	cursor: pointer;
}
div, button{
	font-family: monospace;
	font: "Courier";
	padding:1px;
}
button{
	border: 0px solid black;
	background-color:white;
	outline: none;
	position:relative;
	cursor:pointer;
}
button:hover{
	text-decoration: underline;
}
#header{
	text-decoration: underline;
	margin-bottom: 2px;
}
#friends,#memories{
	margin-top:3px;
}
.click:hover{
	text-decoration: underline;
}
.upgrade{
	margin-top:2px;
	margin-bottom: 2px;
}
#u5{
	display:none;
}
#serotonin,#dopamine,#happiness,#memories{
	float:left;
}
#dopaminegain,#convertdopamine,#serotoninContainer,#dopamineContainer,#happinessContainer,#memoriesContainer{
	position:relative;
}
#floatingText {
    display: inline;
    position:absolute;
    animation: float 1s infinite;
    color: green;
    opacity: 1;
    font-family:monospace;
    font: "Courier";
    bottom:0px;
}
#floatingText2 {
	display: inline;
    position:absolute;
    animation: floatdown 1s infinite;
    color: red;
    opacity: 1;
    font-family:monospace;
    font: "Courier";
    bottom:0px;
}
#girlfriend{
	border:2px solid black;
	background-color:white;
	float:left;
	margin:5px;
	padding:5px;
	border-radius:5px;
	display: none;
}
#girlfriend:hover{
	animation: 5s ease danger infinite;

}

@keyframes danger{
	0% {border: 2px solid black;}
	33% {border:2px solid red;}
	66% {border: 2px solid darkred;}
	100% {border: 2px solid black;}
}

@keyframes float {
    0% { opacity: 0;bottom:0px;}
    50% { opacity: 1; bottom: 10px;}
    100% { opacity: 0;bottom:20px;}
}

@keyframes floatdown {
	0% { opacity: 0; top:0px;}
    50% { opacity: 1; top: 10px;}
    100% { opacity: 0; top:20px;}
}