@font-face {
  font-family: Typewriter;
  src: url('MonospaceTypewriter.ttf');
}

:root {
	--background-color: black;
	--text-color: white;
	font-family: Typewriter, monospace;
	font-size: 14px;
	color: var(--text-color);
}

body {
	width: 1360px;
	margin: auto;
	margin-top: 5px;
	background-color: var(--background-color);
}

#game {
	display: none;
}

#bar {
	width: 500px;
	height: 30px;
	position: relative;
	background: var(--background-color);
	margin: auto;
	vertical-align: middle;
}

#inner-bar {
	position: absolute;
	width: 0%;
	height: 30px;
	background: lime;
	z-index: 1;
}

#bar-text {
	position: relative;
	margin-top: 5px;
	z-index: 2;
}

div {
	text-align: center;
	margin-bottom: 4px;
}

button {
	border: none;
	padding: 1px 4px;
	font-family: Typewriter, monospace;
	cursor: pointer;
	background-color: #bbb;
}

.disabled {
	background-color: #666;
}

#tabs > div {
	margin-bottom: 5px;
}

#tabs > span > button {
	margin: 0 3px;
}

#tabs > div:nth-child(1) > button:nth-child(1) {
	background-color: #ff0;
}

#tabs > div:nth-child(1) > button:nth-child(2) {
	background-color: #ff0;
}

#tabs > div:nth-child(1) > button:nth-child(3) {
	background-color: #f0f;
}

#tabs > div:nth-child(1) > button:nth-child(4) {
	background-color: #f0f;
}

#tabs > div:nth-child(1) > button:nth-child(5) {
	background-color: #0ff;
}


button:focus {
	outline: 1px auto black;
}

.tab {
	display: none;
}

.tab-header {
	font-weight: bold;
	font-size: 16px;
}

.options-btns > button {
	width: 250px;
	height: 75px;
	margin: 4px 4px;
}

#quark-generators, #neutron-generators {
	margin: auto;
	border-spacing: 32px 4px;
	border-collapse: separate;
}

#achievements {
	margin: auto;
	border-spacing: 0;
	border-collapse: collapse;
}

#achievements tr td {
	width: 110px;
	height: 110px;
	border: 1px solid var(--text-color);
	font-size: 13px;
	cursor: default;
	color: var(--text-color);
	position: relative;
	vertical-align: top;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color:var(--text-color);
  color: var(--background-color);
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  padding: 1px 3px;
  bottom: 100%;
  left: 50%;
  margin-left: -125px;
  opacity: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.locked {
	background: radial-gradient(var(--background-color), red) !important;
}

.hidden {
	display: none !important;
}

#achievements tr td {
	background: radial-gradient(var(--background-color), lime);
}

#notifications {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
}

.notification {
	background: var(--text-color);
	color: var(--background-color);
	padding: 0 4px;
	font-size: 14px;
}

.autobuyer-container {
	display: grid;
	grid-gap: 1px;
	justify-content: center;
	grid-template-columns: repeat(3, 310px);
}

.autobuyer {
	border: 1px solid var(--text-color);
	width: 300px;
	height: 150px;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#e49 {
	background-color: #00ffff;
}

.upgrade-table {
	border-collapse: separate;
	border-spacing: 34px 4px;
	margin: auto;
}