:root {
	--background-color: black;
	--text-color: white;
}

* {
	box-sizing: border-box;
}

html {
	font-family: monospace;
	font-size: 14px;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

div {
	text-align: center;
	margin-bottom: 4px;
}

button {
	border: none;
	background: #ddd;
	padding: 2px 8px;
	margin: 0 5px;
	cursor: pointer;
	font-family: monospace;
}

button:focus {
	outline: 1px auto black;
}

